.calories-page {
	background: #333 !important;
	width: 1000px;
	margin: 30px auto;
	position: relative;
	height: 600px;
	.left-column {
		background: #222;
		position: absolute;
		left: 0;
		top:0;
		width: 270px;
		bottom: 0;
		border-right: 1px solid rgb(0, 0, 0);

		.DayPicker {
			position: absolute;
			left: 0;
			top: 0;
			outline-width: 0 !important;
			font-family: 'Open Sans', sans-serif;
			.DayPicker-wrapper {
				outline-width: 0 !important;
			}
			.DayPicker-Day {
				&.DayPicker-Day--selected, &:hover {
					border-radius: 0% !important;
					outline: 1px dashed rgba(255,255,0, 0.5);
					background-color: transparent;
				}
				&.DayPicker-Day--zeroCalories:hover {
					background-color: transparent !important;
				}

				&.DayPicker-Day--tooManyCalories {
				}
			}

		}

		.weight-form {
			border-top: 1px solid #191919;
			position: absolute;
			top: 280px;
			left: 25px;
			font-size: 22px;
			right: 25px;
			& > h1 {
				font-weight: normal;
				font-size: 16px;
				margin-top: 30px;
				text-align: left;

				.date {
					font-weight: bold;
					margin-left: 8px;
				}
				.weight {
					display: inline-block;
					& > input {
						color: white;
						width: 30px;
						text-decoration: underline;
					}
					margin-left: 10px;
					font-weight: bold;
					margin-right: 2px;
					letter-spacing: 1px;
					text-decoration: underline;
				}
				.suffix {
					font-weight: lighter;
					font-size: 11px;
				}
			}
		}
	}

}
