.calories-page {
	position: relative;

	.calorie-statistics {
		width: 200px;
		text-align: left;
		position: absolute;
		left: 30px;
		top: 70px;
		padding: 20px;
		.settings-btn {
			position: absolute;
			right: 10px;
			top: 17px;
		}
	}

	.day-picker {
		position: absolute;
		left: 35px;
		top: 20px;
	}

	.weight-form {
		position: absolute;
		left: 30px;
		top:270px;
		width: 200px;
	}

	.calories-form-outer-wrapper {
		position: absolute;
		left: 30px;
		top: 440px;
		right: 30px;
		text-align: left;
		h2 {
			margin-bottom: 20px;
		}
		.calories-list-wrapper {
			margin-top: 20px;
		}
	}
}

.weight-graph {
	background:transparent;
	position: absolute;
	left: 300px;
	right: 20px;
	color: black;
	.ct-chart {
		height: 420px;
	}
	.ct-label {
		color: white;
	}
	.ct-grid {
		stroke: rgba(255,255,255,0.5);
		stroke-dasharray: 5px;
	}

	.ct-line {
		stroke: white;
	}
	.ct-point {
		display: none;
	}

	& > h1 {
		position: absolute;
		left: 350px;
		top: 150px;
	}
}

.search-results-wrapper {
    list-style-type: none;
	padding: 20px;
	text-align: left;
	max-height: 300px;
	overflow-y: auto;

	& > li {
		position: relative;
		height: 30px;
		line-height: 30px;
		margin: 10px 0;
		& > .food-name {
			display: inline-block;
			left: 30px;
			position: absolute;
			max-width: 230px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		& > .calories {
			display: inline-block;
			position: absolute;
			right: 150px;
		}
		& > .pt-button-group {
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 0px;
		}
	}
}

.calories-list-wrapper {
    border: 1px solid #000;
	min-height: 100px;
	overflow-y: scroll;
	list-style-type: none;
	text-align: left;
	padding: 0;

	&> li:nth-child(odd) {
		background: #475969;
	}
	& > li {
		padding: 20px;
		position: relative;

		& > .food-name {
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 220px;
		}

		& > .calories {
			position: absolute;
			right: 200px;
		}

		& > .pt-button-group {
			position: absolute;
			right: 10px;
			top: 15px;
		}
	}
}
