.calories-page {
	background: #333 !important;
	width: 1000px;
	margin: 30px auto;
	position: relative;
	height: 807px;
	overflow: hidden;


	.left-column {
		background: #222;
		position: absolute;
		left: 0;
		top:0;
		width: 270px;
		bottom: 0;
		border-right: 1px solid rgb(0, 0, 0);

		.calories-percentage {
			position: absolute;
			left: 10px;
			bottom: 5px;
			right: 10px;
			overflow: hidden;
			height: 15px;
			background: #444;
			border: 1px solid #777;
			.percentage-marker {
				height: 100%;
				&.danger {
					background: #AA2222;
				}
				&.warning {
					background: #555522;
				}
				background: #22AA22;
			}
			& > span {
				position: absolute;
				top: 0;
				font-size: 11px;
				color: white;
				font-weight: bold;
				text-align: center;
				display: inline-block;
			}
		}

		.food-eaten {
			position: absolute;
			top: 350px;
			border-top: 1px solid #191919;
			left: 25px;
			right: 25px;
			text-align: left;
			& > h3 {
				font-size: 22px;
				margin-top: 30px;
				margin-bottom: 20px;
			}
			.add-food-btn {
				position: absolute;
				right: 0;
				top: 24px;
			}
		}

		.DayPicker {
			position: absolute;
			left: 0;
			top: 0;
			outline-width: 0 !important;
			font-family: 'Open Sans', sans-serif;
			.DayPicker-wrapper {
				outline-width: 0 !important;
			}
			.DayPicker-Day {
				&.DayPicker-Day--selected, &:hover {
					border-radius: 0% !important;
					outline: 1px dashed rgba(255,255,0, 0.5);
					background-color: transparent;
				}
				&.DayPicker-Day--zeroCalories:hover {
					background-color: transparent !important;
				}
			}

		}

		.weight-form {
			border-top: 1px solid #191919;
			position: absolute;
			top: 280px;
			left: 25px;
			font-size: 22px;
			right: 25px;
			& > h1 {
				font-weight: normal;
				font-size: 16px;
				margin-top: 30px;
				text-align: left;

				.date {
					font-weight: bold;
					margin-left: 8px;
				}
				.weight {
					display: inline-block;
					& > input {
						color: white;
						width: 30px;
						text-decoration: underline;
					}
					margin-left: 10px;
					font-weight: bold;
					margin-right: 2px;
					letter-spacing: 1px;
					text-decoration: underline;
				}
				.suffix {
					font-weight: lighter;
					font-size: 11px;
				}
			}
		}
	}
	.right-column {
		overflow: hidden !important;
		position: absolute;
		top:0;
		bottom: 0;
		right: 0;
		left: 270px;
		overflow: auto;
		.graphs {
			overflow :hidden;
		}
	}
}

.consumed-foods-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	& > li {
		padding: 0;
		margin :5px 0;
		text-align: left;
		.food-name {
			position: relative;
			top: 4px;
			width: 140px;
			overflow: hidden;
			white-space: nowrap;
			text-align:left;
			display: inline-block;
			text-overflow: ellipsis;
			text-decoration: underline;
		}
		.calories {
			display: inline-block;
			width: 40px;
			text-align: center;
		}
		.pt-icon-standard {
			font-size: 11px;
			display :inline-block;
			line-height: 15px;
			vertical-align: middle;
			position: relative;
			top: -2px;
			margin-left: 4px;
			color: #666;
			&:hover {
				font-weight: bold;
				color: white;
			}
			cursor: pointer;
		}
	}


}
