<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="icons/FireHabitLogo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    {{style_tag node_modules/@blueprintjs/core/lib/css/blueprint.css}}
    {{style_tag node_modules/react-day-picker/lib/style.css}}
    <title>Fire Habit</title>
</head>
<body class="bp3-dark">
<div id="root" class="bp3-dark"></div>
<div id="dialogs" class="bp3-dark"></div>
<script src="{{bundle}}"></script>
</body>
</html>