

.todo-column-view {
    display: block;
    box-sizing: border-box;
    margin-right: 15px;
    padding: 0;
    width: 280px;
    min-width: 280px;
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    .settings-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    h4 {
        margin-top: 4px;
    }

    .todo-column-header {
        z-index: 19;

        .todo-column-controls {
            padding-bottom: 5px;
        }

        .inline-text {
            input {
                text-align: center;
                color: white;
            }
        }

        .todo-count {
            position: absolute;
            left: 30px;
            top: 7px;
            font-weight: bold;
        }

        .toolbar-border {
            border-bottom: 1px solid rgba(0,0,0,0.15);
            box-shadow: 1px 4px 7px 0px rgba(0,0,0,0.03);
            height: 1px;
            width: 100%;
            z-index: 99;
        }
    }

    .todo-column-view-content {
        position: relative;
        height: calc(100% - 35px);
        overflow: hidden;

        .todo-list {
            list-style-type: none;
            margin: 0;
            padding-top: 0;
            width: 100%;
            height: 100%;
            .todo-view {
                margin: 0 auto;
            }
        }
    }

}

.todo-column-tabs {
    margin-top: 15px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    .pt-tab-list:first-child {
        margin-left: 20px;
    }

    .pt-tab:active {
        color: white;
    }

    .pt-tab:active, .pt-tab:hover, .pt-tab:focus {
        outline-width:  0 !important;
        box-shadow: unset !important;
        color: white !important;
        & > span {
            color: white !important;
        }
    }

    .pt-tab[aria-selected="true"] {
        color: white;
    }

    .pt-tab-indicator {
        background-color: white;
        height: 2px;
        position: relative;
        top: 27px;
    }

    .tab-controls {
        position: absolute;
        right: 0px;
        top: 40px;
        padding: 0 5px;
        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
    }

    .add-tab-btn, .remove-tab-btn {
        position: relative;
        font-size: 14px;
        font-style: normal;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        cursor: pointer;
    }
    .remove-tab-btn {
        position: relative;
        font-size: 10px;
        margin-right: 10px;
        top:-1px;
    }
    &:hover {
        .add-tab-btn {
            opacity: 1;
        }
        .remove-tab-btn {
            opacity: 1;
        }
    }
}

.todo-column-tabs + .todo-list {
    margin-top: 36px;
}


.todo-wrapper {
    position: relative;
    .drag-handle {
        bottom: 0;
        width: 30px;
        font-size: 24px;

        .inner-icon {
            position: absolute;
            top: 50%;
            margin-top: -17px;
        }
    }
    border-radius: 0;



    input[type="file"] {
        display: none;
    }


}


.todo-view {
    &.editing {
        outline: 2px solid rgb(231, 184, 30);
        .inline-text {
            input,textarea {
            }
        }
    }
}

.todo-column-tabs {
    text-align: left;
    padding-left: 13px;
    .todo-column-tab {
        position: relative;
        top: 2px;
        display: inline-block;
        margin: 5px 6px;
        cursor: pointer;
        & > span {
            display: inline-block;
            width: 50px;
            text-align: center;
        }
        &.tab-active {
            border-bottom: 2px solid white;
            & > span {
                display: none;
            }
        }
        &:not(.tab-active) {
            .inline-text {
                display: none;
            }
        }
        user-select: none;
        .inline-text {
            & > input {
                color: white;
                max-width: 50px;
                width: auto;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
