.todo-column-page {
  top: 0px;
  display: flex;
  .todo-column-page-content {
    position: relative;
    overflow: auto;
    padding-top: 10px;
  }
  .todo-sidebar {
    background: #222;
    display: flex;
    padding: 0px;
    align-content: center;
    z-index: 1;
    flex-direction: column;

    .sidebar-button {
      display: block;
      padding: 10px 15px;
      margin-top: 1px;

      &.active {
        background: #1A91EB;
      }
      &:hover:not(.active):not(:active) {
        background: darken(#1A91EB, 20%);
      }
      &:active {
        background: darken(#1A91EB, 10%);
      }
      cursor: pointer;
    }
  }
}