.todo-column-view {
  display: block;
  box-sizing: border-box;
  margin-right: 15px;
  padding: 0;
  width: 280px;
  min-width: 280px;
  text-align: center;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .todo-column-view .settings-btn {
    position: absolute;
    top: 0;
    right: 0; }
  .todo-column-view h4 {
    margin-top: 4px; }
  .todo-column-view .todo-column-header {
    z-index: 19; }
    .todo-column-view .todo-column-header .todo-column-controls {
      padding-bottom: 5px; }
    .todo-column-view .todo-column-header .inline-text input {
      text-align: center;
      color: white; }
    .todo-column-view .todo-column-header .todo-count {
      position: absolute;
      left: 30px;
      top: 7px;
      font-weight: bold; }
    .todo-column-view .todo-column-header .toolbar-border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.03);
      height: 1px;
      width: 100%;
      z-index: 99; }
  .todo-column-view .todo-column-view-content {
    position: relative;
    height: calc(100% - 30px);
    overflow: hidden; }
    .todo-column-view .todo-column-view-content .todo-list {
      list-style-type: none;
      margin: 0;
      padding-top: 0;
      width: 100%;
      height: 100%; }
      .todo-column-view .todo-column-view-content .todo-list .todo-view {
        margin: 0 auto; }

.todo-column-tabs {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .todo-column-tabs .pt-tab-list:first-child {
    margin-left: 20px; }
  .todo-column-tabs .pt-tab:active {
    color: white; }
  .todo-column-tabs .pt-tab:active, .todo-column-tabs .pt-tab:hover, .todo-column-tabs .pt-tab:focus {
    outline-width: 0 !important;
    box-shadow: unset !important;
    color: white !important; }
    .todo-column-tabs .pt-tab:active > span, .todo-column-tabs .pt-tab:hover > span, .todo-column-tabs .pt-tab:focus > span {
      color: white !important; }
  .todo-column-tabs .pt-tab[aria-selected="true"] {
    color: white; }
  .todo-column-tabs .pt-tab-indicator {
    background-color: white;
    height: 2px;
    position: relative;
    top: 27px; }
  .todo-column-tabs .tab-controls {
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 0 5px; }
    .todo-column-tabs .tab-controls:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .todo-column-tabs .add-tab-btn, .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 14px;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
  .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 10px;
    margin-right: 10px;
    top: -1px; }
  .todo-column-tabs:hover .add-tab-btn {
    opacity: 1; }
  .todo-column-tabs:hover .remove-tab-btn {
    opacity: 1; }

.todo-column-tabs + .todo-list {
  margin-top: 36px; }

.todo-wrapper {
  position: relative;
  border-radius: 0; }
  .todo-wrapper .drag-handle {
    bottom: 0;
    width: 30px;
    font-size: 24px; }
    .todo-wrapper .drag-handle .inner-icon {
      position: absolute;
      top: 50%;
      margin-top: -17px; }
  .todo-wrapper input[type="file"] {
    display: none; }

.todo-view.editing {
  outline: 2px solid #e7b81e; }

.todo-column-tabs {
  text-align: left;
  padding-left: 13px; }
  .todo-column-tabs .todo-column-tab {
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 5px 6px;
    cursor: pointer;
    user-select: none; }
    .todo-column-tabs .todo-column-tab > span {
      display: inline-block;
      width: 50px;
      text-align: center; }
    .todo-column-tabs .todo-column-tab.tab-active {
      border-bottom: 2px solid white; }
      .todo-column-tabs .todo-column-tab.tab-active > span {
        display: none; }
    .todo-column-tabs .todo-column-tab:not(.tab-active) .inline-text {
      display: none; }
    .todo-column-tabs .todo-column-tab .inline-text > input {
      color: white;
      max-width: 50px;
      width: auto;
      text-align: center;
      cursor: pointer; }
