.todo-settings {
    $color-picker-width: 205px;

    background: white;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;

    .slider-picker {
        width: 200px;
    }

    & > div:first-child {
        & > div:first-child {
            box-shadow: unset !important;
        }
        width: $color-picker-width;
        box-shadow: unset !important;
        .compact-picker {
            width: $color-picker-width !important;
            box-shadow: unset !important;
            & > div {
                width: $color-picker-width !important;
            }
        }
    }
}
