.todo-settings-dialog {
    .chrome-picker {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        box-shadow: none !important;
        border: 1px solid #aaa;
    }

    .form-group:not(:first-child) {
        margin-top: 40px;
    }
}
