.todo-list {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 35px; }
  .todo-list .todo-view {
    margin-left: 20px; }

.todo-column-tabs {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .todo-column-tabs .pt-tab-list:first-child {
    margin-left: 20px; }
  .todo-column-tabs .pt-tab:active {
    color: white; }
  .todo-column-tabs .pt-tab:active, .todo-column-tabs .pt-tab:hover, .todo-column-tabs .pt-tab:focus {
    outline-width: 0 !important;
    box-shadow: unset !important;
    color: white !important; }
    .todo-column-tabs .pt-tab:active > span, .todo-column-tabs .pt-tab:hover > span, .todo-column-tabs .pt-tab:focus > span {
      color: white !important; }
  .todo-column-tabs .pt-tab[aria-selected="true"] {
    color: white; }
  .todo-column-tabs .pt-tab-indicator {
    background-color: white;
    height: 2px;
    position: relative;
    top: 27px; }
  .todo-column-tabs .tab-controls {
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 0 5px; }
    .todo-column-tabs .tab-controls:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .todo-column-tabs .add-tab-btn, .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 14px;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
  .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 10px;
    margin-right: 10px;
    top: -1px; }
  .todo-column-tabs:hover .add-tab-btn {
    opacity: 1; }
  .todo-column-tabs:hover .remove-tab-btn {
    opacity: 1; }

.todo-column-tabs + .todo-list {
  margin-top: 36px; }
