@import "./SubtaskList.scss";

.todo-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2 0 0;
    .pt-editable-text {
        max-width: 180px;
    }
}

.todo-view {
    position: relative;
    color: black;
    text-align: left;
    cursor: pointer;
    width: 240px;
    border-radius: 0;
    overflow: hidden;
    box-shadow:
        0 0 0 1px rgba(16, 22, 26, 0.2),
        0 1px 1px rgba(16, 22, 26, 0.4),
        0 2px 6px rgba(16, 22, 26, 0.1) !important;
}

.todo-wrapper {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}


.todo-view-wrapper {
    padding:5px 0;
}

.todo-draggable:first-child {
    margin-top: 0px;
}
