.todo-list {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 35px; }
  .todo-list .todo-view {
    margin-left: 20px; }

.todo-column-tabs {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .todo-column-tabs .pt-tab-list:first-child {
    margin-left: 20px; }
  .todo-column-tabs .pt-tab:active {
    color: white; }
  .todo-column-tabs .pt-tab:active, .todo-column-tabs .pt-tab:hover, .todo-column-tabs .pt-tab:focus {
    outline-width: 0 !important;
    box-shadow: unset !important;
    color: white !important; }
    .todo-column-tabs .pt-tab:active > span, .todo-column-tabs .pt-tab:hover > span, .todo-column-tabs .pt-tab:focus > span {
      color: white !important; }
  .todo-column-tabs .pt-tab[aria-selected="true"] {
    color: white; }
  .todo-column-tabs .pt-tab-indicator {
    background-color: white;
    height: 2px;
    position: relative;
    top: 27px; }
  .todo-column-tabs .tab-controls {
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 0 5px; }
    .todo-column-tabs .tab-controls:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .todo-column-tabs .add-tab-btn, .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 14px;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
  .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 10px;
    margin-right: 10px;
    top: -1px; }
  .todo-column-tabs:hover .add-tab-btn {
    opacity: 1; }
  .todo-column-tabs:hover .remove-tab-btn {
    opacity: 1; }

.todo-column-tabs + .todo-list {
  margin-top: 36px; }

.todo-wrapper {
  position: relative;
  border-radius: 0; }
  .todo-wrapper .drag-handle {
    bottom: 0;
    width: 30px;
    font-size: 24px; }
    .todo-wrapper .drag-handle .inner-icon {
      position: absolute;
      top: 50%;
      margin-top: -17px; }
  .todo-wrapper:hover .todo-controls {
    opacity: 1; }
  .todo-wrapper input[type="file"] {
    display: none; }
  .todo-wrapper .todo-controls {
    position: relative;
    display: flex;
    height: 20px;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; }
    .todo-wrapper .todo-controls .delete-btn {
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      line-height: 18px;
      transition: opacity 0.2s ease-out; }
      .todo-wrapper .todo-controls .delete-btn:before {
        font-size: 11px;
        line-height: 14px;
        vertical-align: middle; }
    .todo-wrapper .todo-controls .add-subtask-btn, .todo-wrapper .todo-controls .file-upload-btn, .todo-wrapper .todo-controls .todo-settings-btn {
      min-width: 18px;
      height: 18px;
      min-height: 18px;
      line-height: 10px; }
      .todo-wrapper .todo-controls .add-subtask-btn:before, .todo-wrapper .todo-controls .file-upload-btn:before, .todo-wrapper .todo-controls .todo-settings-btn:before {
        font-size: 12px;
        vertical-align: middle; }

.todo-column-header {
  z-index: 19;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 33px; }
  .todo-column-header .inline-text input {
    text-align: center;
    color: white; }

.todo-view.editing {
  outline: 2px solid #e7b81e; }

.todo-column-tabs {
  text-align: left;
  padding-left: 13px; }
  .todo-column-tabs .todo-column-tab {
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 5px 6px;
    cursor: pointer;
    user-select: none; }
    .todo-column-tabs .todo-column-tab.tab-active {
      border-bottom: 2px solid white; }
