.todo-page-view {
  display: flex !important;
  flex-direction: column;
  height: calc(100% - 10px);
  box-sizing: border-box;
  margin: 0;

  .inline-text {
    width: 100%;
    min-width: auto;
    max-width: none;
    background: #1A1A1A;
    padding: 10px 0;

    & > textarea {
      color: white;
      font-size: 26px;
      width: 100%;
    }
  }

  & > .bp3-breadcrumbs {
    margin: 0 0 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-bottom: 1px solid #343f50;
  }

  .todo-title {
    margin: 0 10px;
    .inline-text {
      background: transparent;
    }
  }

  .todo-contents {
    margin: 0 10px;
    flex-grow: 1;
    height: 100%;
    border: 0 solid #222;
    padding: 0;
    box-sizing: border-box;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ddd;
    font-size: 18px;
  }

  & > .todo-title > label {
    display: none;
  }

  & > .todo-contents > label {
    display: none;
  }

  & > .todo-contents > .inline-text {
    height: 100% !important;
  }

  & > .todo-contents > .inline-text > textarea {
    height: 100% !important;
    display: block;
    font-size: 16px;
    color: #ccc;
    padding-left: 10px;
  }

}


