
.todo-list {
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 35px;
    .todo-view {
        margin-left: 20px;
    }
}

.todo-column-view {
    display: inline-block;
    margin: 10px;
    padding: 20px 10px 10px 10px;
    width: 280px;
    text-align: center;
    height: 100%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    .settings-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    h4 {
        margin-top: 4px;
    }
}

.todo-column-tabs {
    margin-top: 15px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    .pt-tab-list:first-child {
        margin-left: 20px;
    }

    .pt-tab:active {
        color: white;
    }

    .pt-tab:active, .pt-tab:hover, .pt-tab:focus {
        outline-width:  0 !important;
        box-shadow: unset !important;
        color: white !important;
        & > span {
            color: white !important;
        }
    }

    .pt-tab[aria-selected="true"] {
        color: white;
    }

    .pt-tab-indicator {
        background-color: white;
        height: 2px;
        position: relative;
        top: 27px;
    }

    .tab-controls {
        position: absolute;
        right: 0px;
        top: 40px;
        padding: 0 5px;
        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
    }

    .add-tab-btn, .remove-tab-btn {
        position: relative;
        font-size: 14px;
        font-style: normal;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        cursor: pointer;
    }
    .remove-tab-btn {
        position: relative;
        font-size: 10px;
        margin-right: 10px;
        top:-1px;
    }
    &:hover {
        .add-tab-btn {
            opacity: 1;
        }
        .remove-tab-btn {
            opacity: 1;
        }
    }
}

.todo-column-tabs + .todo-list {
    margin-top: 36px;
}

.todo-wrapper {
    position: relative;
    .drag-handle {
        bottom: 0;
        width: 30px;
        font-size: 24px;

        .inner-icon {
            position: absolute;
            top: 50%;
            margin-top: -17px;
        }
    }
    border-radius: 0;

    &:hover {
        .todo-controls {
            opacity: 1;
        }
    }

    input[type="file"] {
        display: none;
    }

    .todo-controls {
        position: relative;
        display: flex;
        height: 20px;
        flex-direction: row;
        position: absolute;
        right: 0;
        top: 0;
        background: white;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        opacity: 0;
        .delete-btn {
            height: 18px;
            min-width: 18px;
            min-height: 18px;
            line-height: 18px;
            transition: opacity 0.2s ease-out;
            &:before {
                font-size: 11px;
                line-height: 14px;
                vertical-align: middle;
            }
        }

        transition: opacity 0.2s ease-in-out;

        .add-subtask-btn, .file-upload-btn, .todo-settings-btn {
            min-width: 18px;
            height: 18px;
            min-height: 18px;
            line-height: 10px;
            &:before {
                font-size: 12px;
                vertical-align: middle;
            }
        }
    }
}


.todo-column-header {
    z-index: 19;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 33px;

    .inline-text {
        input {
            text-align: center;
            color: white;
        }
    }

    .todo-count {
        position: absolute;
        left: 30px;
        top: 7px;
        font-weight: bold;
    }
}

.todo-view {
    &.editing {
        outline: 2px solid rgb(231, 184, 30);
        .inline-text {
            input,textarea {
            }
        }
    }
}

.todo-column-tabs {
    text-align: left;
    padding-left: 13px;
    .todo-column-tab {
        position: relative;
        top: 2px;
        display: inline-block;
        margin: 5px 6px;
        cursor: pointer;
        & > span {
            display: inline-block;
            width: 50px;
            text-align: center;
        }
        &.tab-active {
            border-bottom: 2px solid white;
            & > span {
                display: none;
            }
        }
        &:not(.tab-active) {
            .inline-text {
                display: none;
            }
        }
        user-select: none;
        .inline-text {
            & > input {
                color: white;
                max-width: 50px;
                width: auto;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
