
.site-navbar {
    background: #222;
    display: flex;
    align-items: center;
	width: 100%;
	height: 44px;
    padding: 0 20px;
    z-index: 99;

    .nav-section {
        height: 32px;
        .nav-btn {
            width: 100px;
            position: relative;

            &:not(:first-child){
                border-left: 1px solid #313D4F;
            }
            .nav-text {
                position: absolute;
                right: 12px;
                top: 0;
                line-height: 30px;
                vertical-align: middle;
                font-size: 12px;
                font-weight: bold;
                font-family: 'Roboto';
                text-align: right;
            }

            height: 30px;
            max-height: 30px;
            overflow: hidden;

            .nav-icon {
                width: 25px;
                height: 25px;
            }

            border-radius: 0;
            cursor: pointer;
            background: #222;
            display: inline-block;
            font-size: 12px;
            border: 1px solid transparent;

            &.active {
                background: #245785;
                border: 1px solid #1A91EB;
            }
        }
    }

}


@media (max-width: 500px) {
    .site-navbar {
        padding: 0;
        overflow: hidden;
        .pt-navbar-divider {
            border-width: 0;
        }
        .pt-navbar-heading {
            display: none !important;
        }
    }
}


.site-logo {
    height: 30px;
    width: 125px;
    & > img {
        width: 33px;
        height: 30px;

        position: absolute;
        top: 7px;
        left: 10px;
    }

    & > span {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        left: 55px;
        top: 12px;
    }
}

.nav-section {
    border: 1px solid #313D4F;
}

.user-section {
    position: absolute;
    right: 16px;
    top: 10px;

    .username {
        padding: 4px 0;
        margin-right: 11px;
        vertical-align: middle;
        display: inline-block;
        font-family: 'Roboto';
    }

    .pt-popover-target {
        display: inline-block;
        margin-top: -4px;
        & > button {
            padding: 0;
            min-width: 24px;
            min-height: 24px;
            line-height: 24px;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }
}
