@import "components/todo/TodoColumnView.scss";
@import "components/todo/TodoView.scss";
@import "components/InlineText.scss";
@import 'components/notes/NotesPage.scss';
@import 'components/calories/CaloriesPage.scss';
@import 'components/SiteNavbar.scss';
@import 'components/schedule/SchedulePage.scss';
@import "components/LandingPage.scss";
@import "components/todo/TodoSettingsDialog.scss";

$fh-color-1: rgb(43, 43, 43);
$fh-color-2: #2d2e30;
$fh-color-3: #35383b;
$fh-color-4: rgb(36, 38, 39);
$fh-color-5: #242629;

$downward-translate-y: 48px;

body {
  background: #111;
}

.visible-when-opened {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


.custom-scrollbar .custom-scrollbar-handle {
  transition: background-color 0.15s ease-in;
}

.custom-scrollbar:hover .custom-scrollbar-handle, .custom-scrollbar:active .custom-scrollbar-handle {
  background-color: rgba(255,255,255,0.7);
}

.todo-column-settings {
  top: 40px;
  background: #efefef;
  width: 250px;
  left: 15px;
  color: black;
  border: 1px solid black !important;
  border-radius: 5px;

  .pt-checkbox {
    color: black;
  }

  .sketch-picker {
    margin-left: 0px;
    margin-top: 20px;
    box-shadow: none !important;
    outline: 1px solid black;
  }

  .move-buttons {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: -10px;
    border-top: 1px solid #ccc;

    padding-top: 30px;
    button {
      margin-left: 10px;
    }
  }

}

.settings-enter{
  transform: translateY(-600px);
}

.settings-enter.settings-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-out !important;
}

.settings-leave {
  transition: transform 300ms ease-out !important;
  transform: translateY(-600px);
}

.settings-leave.settings-leave-active {
}

// .settings-enter.settings-enter-active {
// }

$out-transition: opacity 50ms ease-out, max-height 100ms ease-out 50ms, transform 150ms ease-out 150ms;


.pt-overlay-backdrop {
}

.spinner-container {
  text-align: center;
  .pt-spinner {
    display: inline-block;
    margin-top:100px;
    width: 10%;
  }
  p {
    display: block;
    font-size: 16px;
    margin-top: 20px;
  }
}

