.todo-list {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 35px; }
  .todo-list .todo-view {
    margin-left: 20px; }

.todo-column-tabs {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .todo-column-tabs .pt-tab-list:first-child {
    margin-left: 20px; }
  .todo-column-tabs .pt-tab:active {
    color: white; }
  .todo-column-tabs .pt-tab:active, .todo-column-tabs .pt-tab:hover, .todo-column-tabs .pt-tab:focus {
    outline-width: 0 !important;
    box-shadow: unset !important;
    color: white !important; }
    .todo-column-tabs .pt-tab:active > span, .todo-column-tabs .pt-tab:hover > span, .todo-column-tabs .pt-tab:focus > span {
      color: white !important; }
  .todo-column-tabs .pt-tab[aria-selected="true"] {
    color: white; }
  .todo-column-tabs .pt-tab-indicator {
    background-color: white;
    height: 2px;
    position: relative;
    top: 27px; }
  .todo-column-tabs .tab-controls {
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 0 5px; }
    .todo-column-tabs .tab-controls:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .todo-column-tabs .add-tab-btn, .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 14px;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
  .todo-column-tabs .remove-tab-btn {
    position: relative;
    font-size: 10px;
    margin-right: 10px;
    top: -1px; }
  .todo-column-tabs:hover .add-tab-btn {
    opacity: 1; }
  .todo-column-tabs:hover .remove-tab-btn {
    opacity: 1; }

.todo-column-tabs + .todo-list {
  margin-top: 36px; }

.todo-wrapper {
  position: relative;
  border-radius: 0; }
  .todo-wrapper .drag-handle {
    bottom: 0;
    width: 30px;
    font-size: 24px; }
    .todo-wrapper .drag-handle .inner-icon {
      position: absolute;
      top: 50%;
      margin-top: -17px; }
  .todo-wrapper:hover .todo-controls {
    opacity: 1; }
  .todo-wrapper input[type="file"] {
    display: none; }
  .todo-wrapper .todo-controls {
    position: relative;
    display: flex;
    height: 20px;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; }
    .todo-wrapper .todo-controls .delete-btn {
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      line-height: 18px;
      transition: opacity 0.2s ease-out; }
      .todo-wrapper .todo-controls .delete-btn:before {
        font-size: 11px;
        line-height: 14px;
        vertical-align: middle; }
    .todo-wrapper .todo-controls .add-subtask-btn, .todo-wrapper .todo-controls .file-upload-btn, .todo-wrapper .todo-controls .todo-settings-btn {
      min-width: 18px;
      height: 18px;
      min-height: 18px;
      line-height: 10px; }
      .todo-wrapper .todo-controls .add-subtask-btn:before, .todo-wrapper .todo-controls .file-upload-btn:before, .todo-wrapper .todo-controls .todo-settings-btn:before {
        font-size: 12px;
        vertical-align: middle; }

.todo-column-header {
  z-index: 19;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 33px; }
  .todo-column-header .inline-text input {
    text-align: center;
    color: white; }

.todo-view.editing {
  outline: 2px solid #e7b81e; }

.todo-column-tabs {
  text-align: left;
  padding-left: 13px; }
  .todo-column-tabs .todo-column-tab {
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 5px 6px;
    cursor: pointer;
    user-select: none; }
    .todo-column-tabs .todo-column-tab > span {
      display: inline-block;
      width: 50px;
      text-align: center; }
    .todo-column-tabs .todo-column-tab.tab-active {
      border-bottom: 2px solid white; }
      .todo-column-tabs .todo-column-tab.tab-active > span {
        display: none; }
    .todo-column-tabs .todo-column-tab:not(.tab-active) .inline-text {
      display: none; }
    .todo-column-tabs .todo-column-tab .inline-text > input {
      color: white;
      max-width: 50px;
      width: auto;
      text-align: center;
      cursor: pointer; }

.inline-text {
  max-width: 200px;
  text-overflow: unset;
  white-space: normal; }
  .inline-text p {
    margin-bottom: 0; }
  .inline-text textarea, .inline-text input {
    text-align: left;
    border-width: 0;
    resize: none;
    overflow: hidden;
    outline-width: 0;
    background: transparent;
    width: 100%;
    padding: 0; }
  .inline-text input {
    margin-top: -1px; }

.notes-page {
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden; }
  .notes-page .editor-panel {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 200px; }
  .notes-page .rdw-editor-toolbar {
    background: transparent;
    border-width: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px; }
    .notes-page .rdw-editor-toolbar .rdw-option-wrapper {
      background: #aaa;
      border: 1px solid black; }
    .notes-page .rdw-editor-toolbar .rdw-dropdown-wrapper {
      background: #aaa;
      border: 1px solid black; }
      .notes-page .rdw-editor-toolbar .rdw-dropdown-wrapper .rdw-dropdown-selectedtext {
        color: white; }
  .notes-page .public-DraftStyleDefault-block {
    margin: 0; }
  .notes-page .DraftEditor-root {
    color: white;
    margin-left: 35px; }
  .notes-page .rdw-editor-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    height: calc(100% - 130px);
    bottom: 0;
    overflow: auto; }
  .notes-page .note-toolbar {
    text-align: left; }
  .notes-page .rdw-editor-wrapper {
    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
  .notes-page .note-list {
    text-align: left;
    position: absolute;
    background: white;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    background: #273142; }
    .notes-page .note-list .note-list-item {
      position: relative;
      display: block;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 0;
      border: 1px solid transparent; }
      .notes-page .note-list .note-list-item.editing {
        background: #245785;
        border: 1px solid #1a91eb; }
      .notes-page .note-list .note-list-item .inline-text > input {
        color: white; }
        .notes-page .note-list .note-list-item .inline-text > input:disabled {
          cursor: pointer; }
      .notes-page .note-list .note-list-item .delete-btn {
        position: absolute;
        right: 0;
        top: 2px;
        display: none; }
        .notes-page .note-list .note-list-item .delete-btn::before {
          font-size: 11px; }
      .notes-page .note-list .note-list-item.editing:hover .delete-btn {
        display: block; }

.search-results-wrapper {
  list-style-type: none;
  padding: 20px;
  text-align: left;
  max-height: 300px;
  overflow-y: auto; }
  .search-results-wrapper > li {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 10px 0; }
    .search-results-wrapper > li > .food-name {
      display: inline-block;
      left: 30px;
      position: absolute;
      max-width: 230px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .search-results-wrapper > li > .calories {
      display: inline-block;
      position: absolute;
      right: 150px; }
    .search-results-wrapper > li > .pt-button-group {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 0px; }

.calories-list-wrapper {
  border: 1px solid #000;
  min-height: 100px;
  overflow-y: scroll;
  list-style-type: none;
  text-align: left;
  padding: 0; }
  .calories-list-wrapper > li:nth-child(odd) {
    background: #475969; }
  .calories-list-wrapper > li {
    padding: 20px;
    position: relative; }
    .calories-list-wrapper > li > .food-name {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 220px; }
    .calories-list-wrapper > li > .calories {
      position: absolute;
      right: 200px; }
    .calories-list-wrapper > li > .pt-button-group {
      position: absolute;
      right: 10px;
      top: 15px; }

.visible-when-opened {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

.todo-view:first-child {
  margin-top: 15px !important; }

.custom-scrollbar .custom-scrollbar-handle {
  transition: background-color 0.15s ease-in; }

.custom-scrollbar:hover .custom-scrollbar-handle, .custom-scrollbar:active .custom-scrollbar-handle {
  background-color: rgba(255, 255, 255, 0.7); }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter {
  position: absolute;
  max-height: 0 !important;
  opacity: 0.01; }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter.todo-view-enter-active {
  opacity: 1;
  top: -15px;
  max-height: 500px !important;
  transition: opacity 150ms 150ms ease-out !important; }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter + .todo-view {
  margin-top: 15px !important; }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter ~ .todo-view {
  transition: transform 150ms ease-out !important;
  transform: translateY(48px); }

.todo-column-settings {
  top: 40px;
  background: #efefef;
  width: 250px;
  left: 15px;
  color: black;
  border: 1px solid black !important;
  border-radius: 5px; }
  .todo-column-settings .pt-checkbox {
    color: black; }
  .todo-column-settings .sketch-picker {
    margin-left: 0px;
    margin-top: 20px;
    box-shadow: none !important;
    outline: 1px solid black; }
  .todo-column-settings .move-buttons {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: -10px;
    border-top: 1px solid #ccc;
    padding-top: 30px; }
    .todo-column-settings .move-buttons button {
      margin-left: 10px; }

.settings-enter {
  transform: translateY(-600px); }

.settings-enter.settings-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-out !important; }

.settings-leave {
  transition: transform 300ms ease-out !important;
  transform: translateY(-600px); }

.todo-view-leave {
  opacity: 1;
  max-height: 500px !important;
  overflow: hidden; }

.todo-view-leave.todo-view-leave-active {
  transition: opacity 50ms ease-out, max-height 100ms ease-out 50ms, transform 150ms ease-out 150ms !important;
  max-height: 57px !important;
  opacity: 0.01; }

.todo-view-leave ~ .todo-view {
  transition: opacity 50ms ease-out, max-height 100ms ease-out 50ms, transform 150ms ease-out 150ms !important;
  transform: translateY(-48px); }

.spinner-container {
  text-align: center; }
  .spinner-container .pt-spinner {
    display: inline-block;
    margin-top: 100px;
    width: 10%; }
  .spinner-container p {
    display: block;
    font-size: 16px;
    margin-top: 20px; }

.todo-settings-dialog .chrome-picker {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  box-shadow: none !important;
  border: 1px solid #aaa; }
