.todo-list {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 35px; }
  .todo-list .todo-view {
    margin-left: 20px; }

.todo-column-tabs {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .todo-column-tabs .pt-tab-list:first-child {
    margin-left: 20px; }
  .todo-column-tabs .pt-tab:active {
    color: white; }
  .todo-column-tabs .pt-tab:active, .todo-column-tabs .pt-tab:hover, .todo-column-tabs .pt-tab:focus {
    outline-width: 0 !important;
    box-shadow: unset !important;
    color: white !important; }
    .todo-column-tabs .pt-tab:active > span, .todo-column-tabs .pt-tab:hover > span, .todo-column-tabs .pt-tab:focus > span {
      color: white !important; }
  .todo-column-tabs .pt-tab[aria-selected="true"] {
    color: white; }
  .todo-column-tabs .pt-tab-indicator {
    background-color: white;
    height: 2px;
    position: relative;
    top: 27px; }
  .todo-column-tabs .add-tab-btn, .todo-column-tabs .remove-tab-btn {
    position: absolute;
    right: 20px;
    top: 37px;
    font-size: 22px;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
  .todo-column-tabs .remove-tab-btn {
    right: 45px;
    font-size: 16px;
    top: 42px; }
  .todo-column-tabs:hover .add-tab-btn {
    opacity: 1; }
  .todo-column-tabs:hover .remove-tab-btn {
    opacity: 1; }

.todo-column-tabs + .todo-list {
  margin-top: 36px; }

.visible-when-opened {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

.todo-view:first-child {
  margin-top: 15px !important; }

.custom-scrollbar .custom-scrollbar-handle {
  transition: background-color 0.15s ease-in; }

.custom-scrollbar:hover .custom-scrollbar-handle, .custom-scrollbar:active .custom-scrollbar-handle {
  background-color: rgba(255, 255, 255, 0.7); }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter {
  position: absolute;
  max-height: 0 !important;
  opacity: 0.01; }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter.todo-view-enter-active {
  opacity: 1;
  top: -15px;
  max-height: 500px !important;
  transition: opacity 150ms 150ms ease-out !important; }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter + .todo-view {
  margin-top: 15px !important; }

.todo-view:first-child:not(:last-child):not(.dragged).todo-view-enter ~ .todo-view {
  transition: transform 150ms ease-out !important;
  transform: translateY(48px); }

.todo-column-header {
  z-index: 19;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 33px; }
  .todo-column-header .pt-editable-text {
    position: relative;
    top: 20px; }

.todo-column-settings {
  top: 40px;
  background: #efefef;
  width: 250px;
  left: 15px;
  color: black;
  border: 1px solid black !important;
  border-radius: 5px; }
  .todo-column-settings .pt-checkbox {
    color: black; }
  .todo-column-settings .sketch-picker {
    margin-left: 0px;
    margin-top: 20px;
    box-shadow: none !important;
    outline: 1px solid black; }
  .todo-column-settings .move-buttons {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: -10px;
    border-top: 1px solid #ccc;
    padding-top: 30px; }
    .todo-column-settings .move-buttons button {
      margin-left: 10px; }

.settings-enter {
  transform: translateY(-600px); }

.settings-enter.settings-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-out !important; }

.settings-leave {
  transition: transform 300ms ease-out !important;
  transform: translateY(-600px); }

.todo-view-leave {
  opacity: 1;
  max-height: 500px !important;
  overflow: hidden; }

.todo-view-leave.todo-view-leave-active {
  transition: opacity 50ms ease-out, max-height 100ms ease-out 50ms, transform 150ms ease-out 150ms !important;
  max-height: 57px !important;
  opacity: 0.01; }

.todo-view-leave ~ .todo-view {
  transition: opacity 50ms ease-out, max-height 100ms ease-out 50ms, transform 150ms ease-out 150ms !important;
  transform: translateY(-48px); }

.spinner-container {
  text-align: center; }
  .spinner-container .pt-spinner {
    display: inline-block;
    margin-top: 100px;
    width: 10%; }
  .spinner-container p {
    display: block;
    font-size: 16px;
    margin-top: 20px; }

.todo-settings-dialog .chrome-picker {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  box-shadow: none !important;
  border: 1px solid #aaa; }
